.sider {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: relative;
  overflow-x: hidden;
  border-right: solid 1px rgba(0, 0, 0, 0.12);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 2px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  .menuItem {
    width: 90%;
    height: 60px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #6d619f;
    cursor: pointer;
    &:hover {
      background: rgba(166, 189, 189, 0.534);
      border-radius: 5px;
    }
    &.active {
      background: rgba(109, 97, 159, 0.2);
      border-radius: 5px;
      color: #4a3f7a;
      font-weight: 700;
    }
    svg {
      font-size: 32px;
    }
    span {
      font-weight: 600;
      text-align: center;
    }
  }
}
